body {
    margin: 0;
    background-color: #313131;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


/* RECTANGLE */

svg rect {
    fill: none;
    stroke: rgb(239, 227, 227);
    stroke-width: 8px;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: 5s rect-animation 1 forwards;
}

@keyframes rect-animation {
    from {
        stroke-dashoffset: 1500;
    }
    to {
        stroke-dashoffset: 0;
    }
}


/* LINES */

svg line {
    stroke: rgb(239, 227, 227);
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    animation: lines-animation 3s 1 forwards;
}

@keyframes lines-animation {
    from {
        stroke-dashoffset: -350;
    }
    to {
        stroke-dashoffset: 450;
    }
}


/* GBG TEXT */

#title path {
    fill: rgb(239, 227, 227);
    opacity: 0;
    animation: text-fade 2s 1 forwards;
    animation-delay: 3s;
}

@keyframes text-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}